Tugas_7_Modul 8  Implementasi AI Manajemen SDM_Muhamad Indra Ikmaludin.json
{
  "name": "Tugas_7_Modul 8  Implementasi AI Manajemen SDM_Muhamad Indra Ikmaludin",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Form Rekrutmen Posisi Mentor",
        "formDescription": "Harap Isi Format Dibawah Ini sesuai Dengan Ketentuan Yang Berlaku.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Lengkap",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Pengalaman",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "< 1 tahun"
                  },
                  {
                    "option": "1 - 3 tahun"
                  },
                  {
                    "option": "> 3 tahun"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Upload CV (PDF)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "rekrutmen-mentor-nfa"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -480,
        -32
      ],
      "id": "83d30545-901d-4479-9dd8-b1ca4f36fbb3",
      "name": "On form submission",
      "webhookId": "470b8f41-c587-467f-b1d5-4829e4573ef5"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Ambil data input \n\nfor (let item of items) {\n  const binaryData = item.binary?.Upload_CV__PDF_;\n\n  if (binaryData) {\n    item.json.cv_base64 = binaryData.data; // Data base64 internal \n    item.json.fileName = binaryData.fileName;\n  }\n\n  // Tambahkan tanggal format Indonesia menggunakan Luxon \n  item.json.tanggal_input = DateTime.now().toFormat('dd-MM-yyyy HH:mm');\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -32
      ],
      "id": "05c4a948-b8a1-421a-9608-ce50909ffcb5",
      "name": "Mengonversi  Ke Base64"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_CV__PDF_",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -64,
        -32
      ],
      "id": "6d482670-9fd4-4f47-a558-200ca46f4ef2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Peran: Anda adalah Senior Technical Recruiter yang sangat teliti dan objektif. Tugas Anda adalah mengevaluasi teks CV kandidat di bawah ini untuk posisi Automation Engineer/Developer.\n\nKonteks CV Kandidat:\n\"\"\"\n{{ $json.text }}\n\"\"\"\n\nInstruksi Penilaian:\n1. Analisis pengalaman kerja, keahlian teknis (Hard Skills), dan latar belakang pendidikan.\n2. Identifikasi apakah kandidat memiliki pengalaman dengan tool seperti: n8n, Javascript, Python, SQL, atau API Integration.\n3. Berikan skor profesional dari 0-100.\n   - Skor < 50: Tidak relevan/Pemula.\n   - Skor 50-75: Menengah/Potensial.\n   - Skor > 75: Sangat Cocok/Senior.\n\nFormat Output (WAJIB JSON):\nJangan berikan basa-basi atau teks pembuka. HANYA berikan output JSON valid dengan struktur berikut:\n{\n  \"candidate_name\": \"Nama lengkap kandidat (jika ada)\",\n  \"years_of_experience\": \"Estimasi total tahun pengalaman (angka)\",\n  \"top_skills\": [\"Skill 1\", \"Skill 2\", \"Skill 3\", \"Skill 4\", \"Skill 5\"],\n  \"summary\": \"Ringkasan profil kandidat dalam 1 paragraf pendek (maksimal 30 kata) dalam Bahasa Indonesia.\",\n  \"strengths\": \"Poin kuat kandidat\",\n  \"weaknesses\": \"Kekurangan/hal yang perlu diklarifikasi\",\n  \"score\": 0,\n  \"hiring_recommendation\": \"YES / NO / MAYBE\"\n}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        144,
        -32
      ],
      "id": "0282ddfd-1ab3-4206-89b0-b0963ccaf665",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let item of items) {\n  const aiResponseText = item.json.text; // Output teks dari LLM\n  \n  try {\n    // 1. Bersihkan formatting jika AI memberikan markdown ```json ... ```\n    const cleanJson = aiResponseText.replace(/```json|```/g, '').trim();\n    \n    // 2. Parse string menjadi Objek\n    const parsedData = JSON.parse(cleanJson);\n    \n    // 3. Masukkan ke item.json agar bisa dipanggil node selanjutnya\n    item.json.ai_name = parsedData.candidate_name;\n    item.json.ai_exp = parsedData.years_of_experience;\n    item.json.ai_skills = parsedData.top_skills.join(\", \"); // Array jadi string\n    item.json.ai_summary = parsedData.summary;\n    item.json.ai_score = parsedData.score;\n    item.json.ai_rec = parsedData.hiring_recommendation;\n    \n  } catch (error) {\n    // Fallback jika AI gagal generate JSON valid\n    item.json.error = \"Gagal parsing JSON dari AI\";\n    item.json.raw_output = aiResponseText;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -32
      ],
      "id": "2a196361-6ed5-48b1-909e-33410fe56636",
      "name": "Mengubah ke JSON Object"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        176
      ],
      "id": "1a01a61c-18b1-468d-8157-153391f3a93f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "IBo8hhFD8PQjTEM6",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5388551320",
        "text": "=Nama: {{ $json.ai_name }} \nSkills: {{ $json.ai_skills }} \nScore: {{ $json.ai_score }} \nSummary: {{ $json.ai_summary }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        -32
      ],
      "id": "e75a325d-b34f-4d4d-93cd-c5a818538c4e",
      "name": "Send a text message",
      "webhookId": "25ef44d6-31ca-4be9-88f8-fa289a768848",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengonversi  Ke Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengonversi  Ke Base64": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Mengubah ke JSON Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mengubah ke JSON Object": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "39fb7213-646c-4736-930f-2b4418916f57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "rQk38aBedqyD2GTK",
  "tags": []
}