Tugas_4_Modul 8  Implementasi AI Manajemen SDM_Muhamad Indra Ikmaludin.json
{
  "name": "Tugas_4_Modul 8  Implementasi AI Manajemen SDM_Muhamad Indra Ikmaludin",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        240
      ],
      "id": "4e116585-e6e4-4b8c-92dd-b86c36beb23a",
      "name": "Telegram Trigger",
      "webhookId": "28e92c91-e9b5-4eac-8ced-f00a2190cbf3",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a3fb815d-8a8e-4440-ad30-eeb7303aa75f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "45a1de88-ff48-488e-aa63-217eddee1bb2",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c6453764-2ddd-4f8e-9346-8f50d42ee271",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6ea31a3e-165f-4710-bb04-8f794fc99149",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d684f58e-091d-44ab-888c-2269b342bcf1",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9415a49b-1ba2-4eb8-82e8-e512db07abea",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "1. Bagaimana prosedur reimbursement?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "3b5a3a3f-04e9-44df-9ed6-3897f46a2b13",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "2. Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d7032e54-dfd8-4eb7-8f9a-875ad38de065",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "3. Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2a44f9b3-cc5f-4a2b-937a-02d355408ebf",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "4. Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "02f60d27-de9d-4ea5-89af-d8970274b826",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "5. Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        240
      ],
      "id": "6a34d78a-2dc1-47dc-ade9-4995423848c2",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pertanyaan Pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nAnda harus menjawab berdasarkan Tool yang saya berikan, jika tidak ada jawaban Anda bisa kasih jawaban \"Tidak ada\".\nJawaban Anda",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        144
      ],
      "id": "1f0e4c6e-5244-4951-a381-e46592d18f22",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Jc9Vp6DVxH-vsxLZL0MoMQhjyu7YjIXdxFSNcDnlhcE",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan_Muhamad Indra Ikmaludin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jc9Vp6DVxH-vsxLZL0MoMQhjyu7YjIXdxFSNcDnlhcE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jc9Vp6DVxH-vsxLZL0MoMQhjyu7YjIXdxFSNcDnlhcE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        256,
        400
      ],
      "id": "b4980bc4-38f6-4baa-a0dc-c42b6663ee11",
      "name": "Data Pertanyaan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "grofA9sptIfzIUnN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5388551320",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        144
      ],
      "id": "338e1729-73d2-4e6e-9658-7fc78fe68f5d",
      "name": "Send a text message1",
      "webhookId": "24b202d1-09b2-4c57-b382-b8e8ac122f56",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5388551320",
        "text": "=Pertanyaan yang Anda kirimkan tidak sesuai, harap gunakan pertanyaan dibawah ini:\n\n1. Bagaimana prosedur reimbursement?\n2. Prosedur pengajuan cuti tahunan\n3. Bagaimana aturan lembur di perusahaan?\n4. Apa syarat klaim asuransi kesehatan?\n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        496
      ],
      "id": "ba7502c7-9244-4f8e-90af-36f4a6f46ea0",
      "name": "False Output",
      "webhookId": "24b202d1-09b2-4c57-b382-b8e8ac122f56",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        368
      ],
      "id": "e93fadd8-23fb-4b08-bd74-ce6423cbca06",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "IBo8hhFD8PQjTEM6",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Pertanyaan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "266ee140-8c9e-4d24-8cb6-863fa7e5bd88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "HHkc531x8IMHTNCn",
  "tags": []
}