Tugas_1_Modul 8  Implementasi AI Manajemen SDM_Muhamad Indra Ikmaludin.json
{
  "name": "Tugas_1_Modul 8  Implementasi AI Manajemen SDM_Muhamad Indra Ikmaludin",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1VBN3q8GseUPTtyeucNxBXXEb-8gIGzA3yqtFHgESkqo",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBN3q8GseUPTtyeucNxBXXEb-8gIGzA3yqtFHgESkqo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1559294239,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBN3q8GseUPTtyeucNxBXXEb-8gIGzA3yqtFHgESkqo/edit#gid=1559294239"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        -32
      ],
      "id": "717bd425-c6bb-4a90-bb79-f639d7c52c5f",
      "name": "Sheets Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "8hPoKpwFTMA9loMF",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f9884a3-b256-4ec2-9014-8d3dd819f250",
              "name": "first_name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "7d2592c8-14d8-4b12-8b3b-3350020f86dc",
              "name": "last_name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "747944eb-aa51-4028-8128-234c62dee8a0",
              "name": "full_name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "f995b55e-c157-4f8f-b2f2-fd7227aa67b8",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "e15d72d6-1bc7-4fef-88ee-ec5142611ac1",
              "name": "start_date",
              "value": "={{ $json['Start Date'] }}",
              "type": "number"
            },
            {
              "id": "6a77d06d-b56d-4d47-b851-475b2d5636e6",
              "name": "Position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -32
      ],
      "id": "6c9f8dfe-62d1-4e57-a848-0a228c6a1308",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "listId": "69eb2808b300a091482e3ee8",
        "name": "Checklist Onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -160,
        -32
      ],
      "id": "86bcb8f3-f52e-43bd-a906-e8a8611a2b4a",
      "name": "Membuat Kartu",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "zIc0FHfe0zKeQ2TV",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VBN3q8GseUPTtyeucNxBXXEb-8gIGzA3yqtFHgESkqo",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBN3q8GseUPTtyeucNxBXXEb-8gIGzA3yqtFHgESkqo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1927451881,
          "mode": "list",
          "cachedResultName": "Checklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VBN3q8GseUPTtyeucNxBXXEb-8gIGzA3yqtFHgESkqo/edit#gid=1927451881"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -32
      ],
      "id": "df8d5cbd-3f60-41c2-8ad8-f5e00b29683b",
      "name": "Checklist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "grofA9sptIfzIUnN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "69eb393bfda641d94cdaa3fa",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        256,
        -32
      ],
      "id": "37c09a87-0d41-47be-b362-0ad931fb14fa",
      "name": "Membuat Checklist",
      "credentials": {
        "trelloApi": {
          "id": "zIc0FHfe0zKeQ2TV",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      checklist: $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']),\n      sheet: $('Sheets Onboarding Karyawan').first().json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -32
      ],
      "id": "b4356e74-6a75-4fb6-9056-4caa518c46d5",
      "name": "Gabung Jadi 1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sheet.Email }}",
        "subject": "=Selamat Datang Di Perusahaan Indra {{ $json.sheet['Full Name'] }}",
        "message": "=Hi {{ $json.sheet['First Name'] }} {{ $json.sheet['Last Name'] }},\n\nSelamat datang di Perusahaan! Kami sangat senang Anda bergabung sebagai {{ $json.sheet.Position }} mulai {{ $json.sheet['Start Date'] }}.\n\nBerikut daftar tugas onboarding Anda:\n<ul>\n<li>{{ $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li>\n</ul>\n\nJika ada pertanyaan, reply email ini.\n\nSalam,  \nTim HR",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -32
      ],
      "id": "81cb406e-398e-4315-ae0b-39cf0f525799",
      "name": "Send a message",
      "webhookId": "14d965be-5dc2-4471-adfe-43fa710b83b4",
      "credentials": {
        "gmailOAuth2": {
          "id": "eyqvVTCCXnrjsKRn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Sheets Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Membuat Kartu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kartu": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Membuat Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Checklist": {
      "main": [
        [
          {
            "node": "Gabung Jadi 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung Jadi 1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9965f66e-5b80-4be7-b553-d179405b7151",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "6qK93PcRsA9qZ1Ui",
  "tags": []
}